body {
	font-family: sans-serif;
	text-align: center;
}

h1, h2, h4 {
	width: 100%;
}

h1:hover, h2:hover, h4:hover {
	color: orange;
}

hr {
	border-top: 1px solid black;
}

hr:hover {
	border-top: 1px solid orange;
}

input[type=text] {
	text-align: center;
	width: 30%;
	min-width: 300px;
}

ul.ul-contacts {
	list-style-type: square;
	width: 15%;
	min-width: 300px;
	margin: auto;
	text-align: center;
}

ul.ul-contacts > li:nth-child(even) {
	background: rgb(226, 254, 255);
}

ul.ul-contacts > li:nth-child(odd) {
	background: lightyellow;
}

ul.ul-contacts > li:hover {
	background: black;
	color: white;
}

ul.ul-tabs {
	list-style-type: none;
	display: flex;
	width: 67%;
	border: 2px solid black;
	padding: 0px;
	flex-direction: row;
	margin: auto;
}

ul.ul-tabs:hover {
	border: 2px solid darkblue;
}

ul.ul-tabs > li {
	padding-top: 2px;
	padding-bottom: 2px;
	flex-grow: 1;
	flex-basis: 50%;
}

ul.ul-tabs > li:hover {
	background-color: lightblue;
	color: darkblue;
	cursor: pointer;
}

.selected-tab {
	font-weight: bold;
	background-color: lightgray;
}